.nav {
    border-bottom: 2px thin black;
}

#alert2{
    display: none;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
}

.footer {
    background-color: lightgray;
}

.footer .copyright {
    font-weight: lighter;
    text-align: left;
}

.footer .kontakt {
    font-weight: lighter;
    text-align: right;
}

